:root {
    /* --maintextcolor: #425BB5; */
    --maintextcolor: rgb(28, 43, 70);
    --hovercolor: rgb(142, 142, 161)

    /* todo - make global padding variable? */
    /* todo - make global section background vars? */
  }

/*
* Resume template
* Created by : Ahmed Essa
* website : www.ahmedessa.net
*/


/* Table of Content
==================================================
	- Google fonts & font family -
	- typography -
	- General -
    - Preloader -
	- Header -
    - home section -
    - About section -
    - qualifications section -
    - services section -
    - Contact section -
    - Responsive media queries -
*/


/* Google fonts & font family
==================================================*/

/*
@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i';
*/

/*
font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/


/* typography
==================================================*/

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    line-height: 70px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    line-height: 50px;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    line-height: 25px;
}

h4 {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    position: relative;
    color: var(--maintextcolor);
    margin-left: 40px;
    font-weight: 700;
}

h4:before {
    position: absolute;
    width: 15px;
    left: -25px;
    content: "";
    display: block;
    height: 2px;
    background: var(--maintextcolor);
    top: 9px;
}

nav li a {
    font-family: Lato, sans-serif;
}

strong {
    font-weight: 700;
}

p {
    text-align: justify;
}


/* General
==================================================*/

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.size-50 {
    font-size: 50px;
    line-height: 50px
}

.h-50 {
    height: 50px;
}


/* preloader
==================================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10000
}

#status,
.preloader {
    top: 50%;
    left: 50%;
    position: absolute
}

#status {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -50px 0 0 -50px
}

.preloader {
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px
}

.preloader:before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 100%;
    width: 100%;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    border: 2px solid var(--maintextcolor);
    border-top: 2px solid transparent;
    border-radius: 100%
}

.preloader>.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25px;
    width: 10.6px;
    margin-top: -12.5px;
    margin-left: -5.3px;
    -webkit-animation: wink 1s ease-in-out infinite alternate;
    animation: wink 1s ease-in-out infinite alternate
}

@media only screen and (min-width:768px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }
    .preloader:before {
        left: -2px;
        top: -2px;
        border-width: 2px
    }
    .preloader>.icon {
        height: 37.5px;
        width: 15.9px;
        margin-top: -18.75px;
        margin-left: -7.95px
    }
}

@media only screen and (min-width:1200px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }
    .preloader>.icon {
        height: 50px;
        width: 21.2px;
        margin-top: -25px;
        margin-left: -10.6px
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes wink {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes wink {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

/* Header
==================================================*/

header {
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    height: 65px;
}

nav ul {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    padding: 20px;
    margin-bottom: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    color:white;
    font-size: 12px;
    font-weight: bold;
}

/* controls language bar position at top right of page */
nav li.langbar {
    position: absolute; 
    right: 1em;
    display: inline-block;
}

.bg-nav {
    background: linear-gradient(rgb(228, 228, 228, 0.95), rgb(168, 167, 167, 0.95));
}

.bg-nav ul {
    padding: 10px;
}

a:focus {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: var(--maintextcolor);
    text-decoration: none;
    transition: all .2s;
    -webkit-transition: all .2s;
}

a.active {
    color: var(--maintextcolor);
}


/* home section
==================================================*/

#home {
    background: url(../img/home-bg.jpeg);
    background-size: cover;
    height: 100vh;
}

.table-cell {
    display: table-cell;
    vertical-align: top;
    padding-top: 25%;
}

.disply-table {
    display: table;
    height: 80vh;
}


/* about section
==================================================*/

#about {
    padding: 100px 0;
}

.about-img-div img {
    margin: 0 auto;
}

/* qualifications 
==================================================*/

#qualifications {
    padding: 100px 0;
    background: #f3f3f3
}

.qualifications-row {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.qualifications-row h3 {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: var(--maintextcolor);
    font-size: 16px;
    font-weight: bold
}

.qualifications-row p {
    color: #888;
    margin-top: 20px;
    font-size: 15px;
}

.qualifications-row .date {
    color: #000;
    font-size: 17px;
}

.timeline {
    padding-left: 0;
    list-style: none;
    position: relative;
}

.timeline:before {
    background-color: black;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}

.timeline-event {
    position: relative;
}

.timeline-event:hover .timeline-event-icon {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: var(--maintextcolor);
}

.timeline-event:hover .timeline-event-thumbnail {
    box-shadow: inset 40em 0 0 0 var(--maintextcolor);
}

.timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 100%;
}

.timeline-event-copy h3 {
    font-size: 1.75em;
}

.timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.timeline-event-copy strong {
    font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
}

.timeline-event-icon {
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: var(--maintextcolor);
    outline: 10px solid #f3f3f3;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}

.timeline-event-thumbnail {
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    transition-delay: inherit;
    -webkit-transition: box-shadow 0.5s ease-in 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: black;
    box-shadow: inset 0 0 0 0em var(--maintextcolor);
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}


/* expertise section
==================================================*/

#expertise {
    padding: 100px 0;
    background: #ffffff
}

.expertise-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

/* services section
==================================================*/

#services {
    padding: 100px 0;
    background: #f3f3f3
}

/* blog section
==================================================*/
#blog {
    padding: 100px 0;
    background: white
}

/* overrides embedded javascript design  */
.blog-post a{
color: var(--maintextcolor)
}

.blog-post a:hover {
    color: var(--hovercolor)
}

/* blocks title where URL contains text in quotes */
a[href*="schicksalsbrunnen"] h2 {
    display:none
}

div.post-date{
    display:none
}

a.btn.btn-primary{
    display:none
}

div.author, p.post-author{
    display:none
}

a.btn.btn-primary.pager.older{
    background-color: #f3f3f3;
    border:none;
    border-radius: 6px;
    padding: 10px;
}

a.btn.btn-primary.pager.newer{
    background-color: #f3f3f3;
    border:none;
    border-radius: 6px;
    padding: 10px;
}


/* footer
==================================================*/

footer {
    background: #f3f3f3;
    text-align: center;
    padding: 3px;
    color: var(--maintextcolor);
  }

.link { 
    cursor: pointer;
    color:var(--maintextcolor);
    }

.link:hover {
        color: var(--hovercolor);
        transition: all .2s;
    -webkit-transition: all .2s;
    }

/* contact
==================================================*/

#contact {
    padding: 100px 0;
    background: #f3f3f3;
    
}

a[href^="mailto"] {color:var(--maintextcolor)}

a[href^="mailto"]:hover {
    color: var(--hovercolor);
    transition: all .2s;
    -webkit-transition: all .2s;
}

.social {
    list-style: none;
    padding: 10px;
}

.social li {
    float: left;
}

.social p {
    padding: 10px;
}

.social li a {
    color: var(--maintextcolor);
    font-size: 35px;
    margin-right: 15px;
    transition: all .2s;
    -webkit-transition: all .2s;
}

.social li a:hover {
    color: var(--hovercolor);
}


/* Responsive media queries
==================================================*/

@media (max-width: 991px) {
    .portfolio .categories-grid .categories ul li a {
        padding: 0 2px;
    }
}

@media (max-width: 991px) {
    /* For mobile phones: */
    table, tr {
        display:block
    }
  }

@media (max-width: 768px) {
    .timeline-event-copy {
        width: 90%;
        left: 2em;
    }
}

@media (max-width: 991px) {
    .navbar-fixed-top li:not(:last-child) {
        display: none;
    }

@media (max-width: 500px) {
    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 50px;
        line-height: 50px;
    }
    #home,
    .disply-table {
        height: 600px;
    }
    .about-border {
        width: 265px;
    }
    .portfolio .categories-grid .categories ul li {
        list-style: none;
        margin: 10px 0;
    }
}

@media (max-width: 420px) {
    nav li {
        margin: 6px;
    }
    nav li a {
        font-size: 10px;
    }
    .disply-table {
        display: table;
        height: 30vh;
    }
}
}